/*  your css code here. If applicable */
 #animal-photos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
 
    .animal-photo {
      margin: 10px;
    }